#header {
  text-align: center;
}

#event-message {
  visibility: visible;
}

.page {
  position: absolute;
  width: 80%;
  height: 80%;
  text-align: center;
}

#start-page {
  visibility: hidden;
}  

#game-page {
  visibility: hidden;
}

#ready-check {
  visibility: hidden;
}

#field {
  background-color: #f3f3f3;
  width: 10em;
  height: 10em;
  text-align: center;
  margin: 0 auto;
}

#field-progress {
  width: 0%;
  height: 100%;
}

#current-field {
  font-size: 2em;
  font-family: 'Proxima Nova Black';  
}

.form-label {
}

.form-element {
  
}

#name-input {
  text-align: center;
}

.team-box {
  width: 40px;
  height: 40px;
  border-color: black;
  border-style: solid;  
  display: inline-block;
}

.dialog-box {
  background-color: #87C6F2;
  position: absolute;
  border-color: #87C6F2;
  border-style: solid;
  padding: 2.5%;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  height: 20%;
}

#team-chooser {
  width: 50%;
  margin: 0 auto;  
}
